<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nikah Online</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{{ url_for('static', filename='home/img/favicon.ico') }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='home/img/apple-touch-icon.png') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='home/img/apple-touch-icon-72x72.png') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='home/img/apple-touch-icon-114x114.png') }}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='home/css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/fonts/font-awesome/css/font-awesome.css') }}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/nivo-lightbox/nivo-lightbox.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home/css/nivo-lightbox/default.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Nikah Online</a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="{{ url_for('register') }}" class="page-scroll">Register</a></li>
        <li><a href="{{ url_for('login') }}" class="page-scroll">Login</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 intro-text">
            <h1 style="color: #273746;">Pendaftaran Nikah Online<span></span></h1>
            <p style="color: #273746;"><b>KUA Payakumbuh Timur</b></p>
            <!--<a href="#features" class="btn btn-custom btn-lg page-scroll">Learn More</a> </div>-->
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6"> <img src="{{ url_for('static', filename='home/img/logo-kemenag.png') }}" class="img-responsive" alt=""> </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>SYARAT PENDAFTARAN NIKAH</h2>
          <!--<p>Halo Testing Testing Testing Testing Testing Testing Testing Testing Testing, Halo Testing-->
            <!--Testing Testing Testing Testing Testing Testing Testing Testing-->
            <!--Halo Testing Testing Testing Testing Testing Testing Testing Testing Testing Halo Testing Testing Testing-->
            <!--Testing Testing Testing Testing Testing Testing.</p>-->
          <!--<h3>Testing?</h3>-->
          <div class="list-style">
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>1.	Foto Copy KTP dan Kartu Keluarga (KK)  untuk calon Penganten (catin) masing-masing  1 (satu) lembar</li>
                <li>2.	Surat pernyataan belum pernah menikah (masih gadis/jejaka) di atas segel/materai bernilai  minimal Rp.6000,- (enam ribu rupiah) diketahui RT, RW dan Lurah setempat</li>
                <li>3.	Surat keterangan untuk nikah dari Kelurahan setempat yaitu Model N1, N2, N4, baik calon Suami maupun calon Istri</li>
                <li>4.	Pas photo catin
                •	ukuran 2×3 masing-masing 4 (empat) lembar
                •	ukuran 3x4 masing-masing 2 (dua) lembar
                •	ukuran 4x6 masing-masing 1 (satu) lembar
                Bagi anggota ABRI berpakaian dinas
                </li>
                <li>5.	Bagi yang berstatus duda/janda harus melampirkan Surat Talak / Akta Cerai dari Pengadilan Agama, jika Duda / Janda mati harus ada surat kematian dan surat Model N6 dari Lurah setempat</li>
                <li>6.	Harus ada izin / Dispensasi dari Pengadilan Agama bagi :
•	Catin Laki-laki yang umurnya kurang dari 19 tahun
•	Catin Perempuan yang umurnya kurang dari 16 tahun
•	Laki-laki yang mau berpoligami</li>
              </ul>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <ul>
                <li>7.	Izin Orang Tua (Model N5) bagi catin yang umurnya kurang dari 21 tahun, baik catin laki-laki / perempuan</li>
                <li>8.	Bagi catin yang tempat tinggalnya bukan di wilayah KUA Kecamatan Tempat Pelaksanaan Akad Nikah, harus ada surat Rekomendasi Nikah dari KUA setempat</li>
                <li>9.	Bagi anggota TNI / POLRI dan Sipil TNI / POLRI harus ada Izin Kawin dari Pejabat Atasan  /  Komandan</li>
                <li>10.	Bagi catin yang akan melangsungkan pernikahan ke luar wilayah tempat tinggalnya harus ada Surat Rekomendasi Nikah dari KUA Kecamatan yang mewilayahi tempat tinggalnya</li>
                <li>11.	Kedua catin mendaftarkan diri ke KUA Kecamatan sekurang-kurangnya 10 (sepuluh) hari kerja dari waktu melangsungkan Pernikahan. Apabila kurang dari 10 (sepuluh) hari kerja, harus melampirkan surat Dispensasi Nikah dari Camat setempat</li>
                <li>12.	Bagi WNI keturunan, selain syarat-syarat tersebut dalam poin 1 s/d 10 harus melampirkan foto copi Akte kelahiran dan status kewarganegaraannya</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<script type="text/javascript" src="{{ url_for('static', filename='home/js/jquery.1.11.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/SmoothScroll.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/nivo-lightbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/jqBootstrapValidation.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/contact_me.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='home/js/main.js') }}"></script>
</body>
</html>