{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='society/dashboard.css') }}">
{% endblock %}
 {% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Informasi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#">Dashboard</a></li>-->
            <!--<li><a href="#">Settings</a></li>-->
            <!--<li><a href="#">Profile</a></li>-->
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <!--<form class="navbar-form navbar-right">-->
            <!--<input type="text" class="form-control" placeholder="Search...">-->
          <!--</form>-->
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Operator | Overview <span class="sr-only">(current)</span></a></li>
            <li class="#"><a href="{{ url_for('operatorAddData') }}">Operator | Masukan Data <span class="sr-only">(current)</span></a></li>

          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ WELCOME }}</h1>


          <h2 class="sub-header">Data Catin</h2>
          <div class="table-responsive">


            <table class="table table-striped">
              <thead>
                <tr>
                  <th>NIK Laki-laki</th>
                  <th>Nama Catin Laki-lai</th>
                  <th>NIK Perempuan</th>
                  <th>Nama Catin Perempuan</th>
                  <th>Tanggal Daftar</th>
                  <th>Jadwal Nikah</th>
                  <th>Jam</th>
                  <th>Tempat Pelaksanaan Nikah</th>
                  <th>Status Pendaftaran</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for list in catin %}
                <tr>
                  <td>{{ list.NIK_catin_laki_laki }}</td>
                  <td>{{ list.nama_catin_laki_laki }}</td>
                  <td>{{ list.NIK_catin_perempuan }}</td>
                  <td>{{ list.nama_catin_perempuan }}</td>
                  <td>{{ list.tanggal_daftar }}</td>
                  <td>{{ list.jadwal_nikah }}</td>
                  <td>{{ list.jam }}</td>
                  <td>{{ list.tempat_pelaksaan_nikah }}</td>
                  <td>{{ list.status_pendaftaran }}</td>
                  <td>
                    <a href="{{ url_for('delete_data', id=list.id) }}">Delete</a>
                    |
                    <a href="{{ url_for('catin_edit', id=list.id) }}">Edit</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
{% endblock %}